<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFristRA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A79C96120CD84D7003D88D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A79C97720CD84DC003D88D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A79C98220CD84DC003D88D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
